@model EmpInfoSys.Models.Emp


@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>社員登録</title>
</head>
<body>
    <h2>社員登録</h2>

    以下の内容で登録されました。<br>
    <table border="1">
        <tr><td>社員名</td><td>@Html.DisplayFor(model => model.Name)</td></tr>
        <tr><td>誕生日</td><td>@Html.DisplayFor(model => model.BirthDay)</td></tr>
        <tr><td>部門ID</td><td>@Html.DisplayFor(model => model.DeptId)</td></tr>
        <tr><td>部門</td><td>@Html.DisplayFor(model => model.Dept.DeptName)</td></tr>
    </table>
</body>
</html>