@model EmpInfoSys.Models.Emp

@{
    ViewBag.Title = "EmpIndex";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>社員登録</title>
</head>
<body>
    <h2>社員登録</h2>
    <form action="/Add/EmpAdd" method="post">
        以下の項目を入力してください。<br>
        @Html.ValidationSummary()
        @using (Html.BeginForm("EmpAdd", "Add", FormMethod.Post))
        {
            <table>
                <tr><th>名前</th><td>@Html.EditorFor(model => model.Name)</td></tr>
                <tr><th>誕生日</th><td>@Html.EditorFor(model => model.BirthDay)</td></tr>
                <tr><th>部門</th><td>@Html.DropDownListFor(model => model.DeptId, 
                                  new SelectList(Model.DeptItems, "Value", "Text"))</td></tr>
            </table>
            <input type="submit" value="登録" />
        }
    </form>
</body>
</html>
